aws_region       = "us-east-1"
project_name     = "hr-onboarding"
environment      = "production"
sender_email     = "hr@yourcompany.com"
frontend_url     = "http://localhost:3000"
bedrock_model_id = "amazon.nova-pro-v1:0"
